.ipaid-card-one{
  
          background-image: url("https://www.apple.com/v/home/cg/images/promos/airpods-pro-2/promo_airpods_pro_2_avail__vkitqi3okwie_large.jpg"); 
    width: 100%;
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.ipaid-card-two{
  background-image: url("https://www.apple.com/v/home/cg/images/promos/apple-watch-series-10/promo_apple_watch_series_10_avail_lte__c70y29goir42_large.jpg"); 
       width: 100%;
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.main-ipaid {
    display: flex;
    padding: 10px;
    gap: 5px;
}
/* .event-section-two {
    text-align: center;
    padding: 20px;
    position: relative;
    top: 70%;
  } */
  .main-contant{
    text-align: center;
    padding-top: 30px;
  }
  .event-section-two p {
    font-size: 21px;
    font-weight:400px;
    color: #1d1d1f; /* halka dark text */
    margin-bottom: 20px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  .event-section-two a {
    display: inline-block;
    background-color: #0071e3; /* Apple ka blue */
    color: white;
    padding: 10px 24px;
    border-radius: 50px; /* gol button */
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    transition: background-color 0.3s ease;
  }
  .event-section-two a:hover {
    background-color: #005bb5; /* hover pe halka dark blue */
  }
  .buttons {
    margin-top: 20px;
  }
  .buttons a {
    display: inline-block;
    padding: 6px 17px;
    margin: 0 8px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .learn-more-btn {
    background-color: #0071e3;
    color: white;
    border: none;
  }
  .learn-more-btn:hover {
    background-color: #005bb5; /* hover pe thoda dark blue */
  }
  .buy-btn-one {
    background-color: transparent  !important;
    color: #0071e3  !important;
    border: 1px solid #0071e3;
  }
  .buy-btn-one:hover {
    background-color: white  !important;
    color: 0071e3  !important;
  }
  .event-section-three {
    color: white;
}
.main-heading{
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 53px;
  text-align: center;
}
.main-text{
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 400;
  letter-spacing: .011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 4px;
text-align: center;

}
.card_air-pord{
  color:white;
  font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* margin-top: 53px; */
}
.card_sub-heading{
  color: white !important;
      font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* margin-top: 4px; */

}

